@model IEnumerable<CarSalesAndService.Entities.Satis>

@{
    ViewData["Title"] = "Satışlar";
}

<h1>Satışlar</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Satış Fiyatı
            </th>
            <th>
                Satış Tarihi
            </th>
            <th>
                Araç
            </th>
            <th>
                Müşteri
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.SatisFiyati.ToString("c")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SatisTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arac.Renk)
                    @Html.DisplayFor(modelItem => item.Arac.Modeli)
                    @Html.DisplayFor(modelItem => item.Arac.Marka.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Musteri.Adi)
                    @Html.DisplayFor(modelItem => item.Musteri.Soyadi)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
